#nav-bar{
    display: flex;
    border-bottom:1px solid black ;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#header{
    font-size: 1.6rem;
    color: green;
    margin-left: -40px;
}
#camera-logo{
    width: 40px;
    height: 56px;
    margin-right: 0px;
}


.logo-holder{
    display: flex;
    justify-content: space-between;
    width: 170px;
    align-items: center;
}


.logo-holder>img{
  width: 42px;
}